@charset "UTF-8";
/* font */
@font-face {
  font-family: 'KBFGTextL';
  font-weight: 300;
  src: local("KBFGTextL"), url("../fonts/KBFGTextL.woff2") format("woff2"), url("../fonts/KBFGTextL.woff") format("woff"), url("../fonts/KBFGTextL.ttf") format("truetype");
}

@font-face {
  font-family: 'KBFGTextM';
  font-weight: 400;
  src: local("KBFGTextM"), url("../fonts/KBFGTextM.woff2") format("woff2"), url("../fonts/KBFGTextM.woff") format("woff"), url("../fonts/KBFGTextM.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: local("NotoSansKR"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.ttf") format("truetype");
}

/* base */
html,
body {
  height: 100%;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

::before,
::after,
html,
body,
div,
ul,
ol,
dl,
li,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tr,
th,
td,
caption,
address,
article,
aside,
canvas,
details,
figure,
figcaption,
main,
footer,
header,
menu,
nav,
section,
button,
select,
textarea,
input,
form,
fieldset,
legend,
label,
a,
span,
strong,
em,
address,
pre,
code,
dfn,
small,
i,
b {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: inherit;
  list-style: none;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

:before,
:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

main,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
}

body {
  font-family: 'KBFGTextL';
  color: #000000;
  font-size: 1.4rem;
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

[hidden],
hr {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

fieldset,
iframe {
  width: 100%;
}

img,
a,
frame,
iframe,
fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: inherit;
}

caption {
  height: 1px;
  overflow: hidden;
}

legend {
  position: fixed;
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

button {
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}

input[type='checkbox'],
input[type='radio'],
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

textarea {
  resize: none;
}

input,
textarea {
  caret-color: auto;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

[tabindex='0']:focus,
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

[tabindex='0'],
a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

select::-ms-expand {
  display: none;
}

/* 추가 */
input[type='text'],
input[type='tel'] {
  width: 100%;
}

/* checkbox */
input[type='checkbox'],
input[type='radio'] {
  opacity: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
}

input::placeholder {
  color: #a49c96;
}

textarea {
  width: 100%;
  height: 100%;
}

input[readonly],
textarea[readonly] {
  background: #f7f7f8;
}

/* variables  */
