html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

strong{
  font-weight: 700;
}

ol, ul, li{
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
textarea{
  resize:none;
}

input{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: 0;
}

button{
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}

a, a *{
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
}

hr{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

input[type="checkbox"],
input[type="radio"]{
  opacity: 0;
  margin:0;
  position: absolute;
  cursor: pointer;
  /*
  width: 100%;
  height: 100%;*/
}

sup{
  vertical-align: super;
  font-size:0.5em;
}

a,
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}

input::-webkit-search-cancel-button{
  display: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

body, button, input, textarea{
  font-family: 'NanumSquare', 'roboto', sans-serif, Arial;
  font-weight: 400;
}
body {
  line-height: 1.2;
}
// chrome 의 자동완성 스타일 제거를 위한 hack
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
html{
  font-size: 10px;
}
body{
  font-size:62.5%; 
}
 /*
html, body{
// height: 100%;
min-height: 100vh;
overflow-x: hidden;
// overflow-y: auto;
padding-bottom: safe(bottom);
// -webkit-font-smoothing: antialiased;


@include pc{
  min-height: auto;
  height: 100%;
}
  */

a[href^=tel]{text-decoration:none;}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:-ms-expand {
    display:none;
  }
}


@mixin pc {
  @media all and (min-width: 1080px) {
      
  }
}

@mixin mobile {
  @media all and (max-width: 1079px){
   
  }
}
@mixin w320 {
  @media all and (max-width: 320px){
    
  }
}
@media (max-width: 1079px) {
  .mobile-only {
    display: block;
  }
  .pc-only {
    display: none !important;
  }
}

@media (min-width: 1080px) {
  .pc-only {
    display: block;
  }
  
  .mobile-only {
    display: none !important;
  }
 
}
@media (min-width:1060px){}
// 시작 1280 ~
/*
@include pc{
    display: block;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 0;
  }

.MO .input-wrap--plex .input-row { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; } 
.MO .input-wrap--plex .input-item { -ms-flex-preferred-size: 300px; flex-basis: 300px; margin-top: 0; } 

*/

.skip{
  $root: &;
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 9999;
  }
  &__item{  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: #f15a22;
    font-weight: 700;
    &:focus {
      top: 0;
    }
  }
}

.content {
  padding:0 2rem;
}


input[type='text']{
  border:none;
  width:100%;
}

.select{
  $root: &;
  &__item {
    border:1px solid gray;
  }
  &__list {
    &~&{
      border-top:1px solid gray;
    }
    
  }
}

.input{
  $root: &;
  &__label{
    display:block;
    font-size:1.7rem;
    >span{
      display:block;
      font-size:1.7rem;
    }
  }
  &__box{
    &~&{
      margin-top:2rem;
    }
    //에러문구
    &--error{
      #{$root}__desc{
        color:red;
      }
    }
    //포커스시
    &--focus{
      #{$root}__text{
        border-bottom:1px solid red !important;
      }
    }
  }
  &__item{
    display:flex;
    align-items: center;
    
  }
  &__text{
    border-bottom:1px solid gray !important;
    padding:0.3rem;
  }
  &__dash{
    padding:0 0.5rem;
    font-size:0.8rem;
    &.dash::before{
      display:block;
      content:"";
      width:5px;
      height:2px;
      background:gray;
    }
  }
  &__button {
    width:100%;
    border-bottom:1px solid gray;
    position:relative;
    &::after{
      display:block;
      content:"";
      width:10px;
      height:10px;
      background:red;
      position:absolute;
      top:0;
      right:0;
    }
  }
  &__desc{

  }
}


.radio {
  $root: &;
  &__wrap {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:3rem;
    &--button{
      border:1px solid gray;
      border-radius: 5px; 
      overflow: hidden;; 
    background:#fff;
    }
  }
  &__button{
    display: flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:2rem;
    
    & ~ & {
      border-left:1px solid gray;
    }
    #{$root}__input{
    }
    #{$root}__label{
      display: flex;
      align-items:center;
      justify-content: center;
      width:100%;
      height:100%;
      text-align: center;
      // border:1px solid gray;
    } 
    #{$root}__input:checked + #{$root}__label{
      border:1px solid red;
    }    
  }
}

.accordion {
  $root: &;
  &__head {
    border:1px solid gray;
  }
  &__tit{
    display:block;
    position:relative;
    width:100%;
    height:100%;
    padding:1rem;
    &::after{
      display:block;
      content:"";
      width:2rem;
      height:2rem;
      background:red;
      position:absolute;
      top:0.3rem; 
      right:0.3rem;
    }
  }
  &__content{
    padding:1rem;
    display:none;
  }
  &__item.is-active {
    #{$root}__content{
      display:block;
    }
    #{$root}__tit::after {
      background:blue;
    }
  }
}

/* 디자인셀렉트 */
.select {
  $root: &;
  select{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 1px !important;
    height: 1px !important; 
    opacity: 0 !important; 
    overflow: hidden;
    border: 0 none !important;
    background: transparent !important;
    color: transparent !important;
  }
  &__button {
    display:block; 
    width:100%; 
    height:100%; 
    padding:0.5rem 2rem; 
    border:1px solid gray;
   
  }
  &__item{
    display:none;
    // &.is-active {
    //   display:block;
    // }
  }
  &.is-active {
    #{$root}__item{
      display:block;
    }
    #{$root}__button{
      background:red;
    }
  }
}