/* variables  */
$KB_UI_02 :#FFD338;
$KB_Give_02 :#26282C;
$KB_Give_04 :#696E76;
$KB_Give_05 :#8C949E;
$KB_Give_06 :#AAB0B8;
$KB_Give_08 :#DDE1E4;

$KB_Give_09 :#EBEEF0;
$KB_Give_10 :#F7F7F8;
$KB_Give_11 : #FFFFFF;
$KB_Give_Yellow :#FFCC00;



